@model IEnumerable<ShopThuongMaiDienTu.ViewModels.HangHoaVM>

@{
    ViewData["Title"] = "Index";
}

<!-- Single Page Header start -->

<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Shop Vanchien</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <form asp-action="Search" asp-controller="HangHoa" id="search-form">
                            <div class="input-group w-100 mx-auto d-flex">
                                <input value="@ViewBag.SearchName" name="Name" type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                <span onclick="submitForm()" id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                            </div>
                        </form>
                       
                    </div>
                    <div class="col-6"></div>
                    
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                           @await Component.InvokeAsync("MenuLoai")
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Price</h4>
                                    <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                    <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
                                </div>
                            </div>
                           
                            <div class="col-lg-12">
                                <h4 class="mb-3">Sản phẩm phổ biến</h4>

                                @await Html.PartialAsync("ProductTop", Model);
                                <div class="d-flex justify-content-center my-4">
                                    <a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Xem thêm</a>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="https://i.imgur.com/5dcHXjN.jpg" class="img-fluid w-100 rounded" alt="">
                                    <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                        <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">
                            @await Html.PartialAsync("ProductItem", Model);
                           
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
